---
layout: page
title: "Our Team"
---

<div class="team-container">
  {% for section in page.profiles %}
    <h2 class="team-title">{{ section.title }}</h2>
    <div class="photo-grid">
      {% for profile in section.members %}
        <div class="profile-card">
          <div class="image-container">
            {% assign profile_image_path = profile.image | prepend: '/assets/img/' %}
            <img src="{{ profile_image_path | relative_url }}" alt="{{ profile.name }}" class="profile-img grayscale" onclick="toggleColor(this)">
          </div>
          <div class="profile-info">
            <h3>{{ profile.name }}</h3>
            <p><strong>Position:</strong> {{ profile.position }}</p>
            <p><strong>Project:</strong> {{ profile.project }}</p>
            <p><strong>Hobby:</strong> {{ profile.hobby }}</p>
            <p><strong>Education:</strong> {{ profile.education }}</p>
            <div class="social-links">
              {% if profile.social.linkedin %}
                <a href="{{ profile.social.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
              {% endif %}
              {% if profile.social.twitter %}
                <a href="{{ profile.social.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
              {% endif %}
              {% if profile.social.github %}
                <a href="{{ profile.social.github }}" target="_blank"><i class="fab fa-github"></i></a>
              {% endif %}
              {% if profile.social.bluesky %}
                <a href="{{ profile.social.bluesky }}" target="_blank"><i class="fab fa-bluesky"></i></a>
              {% endif %}
              {% if profile.social.google_scholar %}
                <a href="{{ profile.social.google_scholar }}" target="_blank"><i class="fab fa-google"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
